<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCuoiKy.Properties.Settings.LTUDQL1ConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=LTUDQL1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>